html {
	justify-content: center;
	align-items: center;
	display: flex;
	height: 100%;
}

body {
	background-color: var(--primaryColor);
	color: var(--secondaryColor);
	font-family: 'Fira Code';
	font-size: 16px;
	border-radius: 2px;
	display: flex;
	flex-direction: column;
	min-height: 30ch;
	min-width: 50vw;
	padding: 2em;
}

#newtab {
	padding: 1em 0;
}

span {
	color: var(--accent5);
}

nav {
	column-gap: 2em;
	display: grid;
	grid-template-columns: auto auto auto auto;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li:first-child {
	font-weight: bold;
	padding-bottom: 5px;
}

li:not(:first-child) {
	font-size: 14px;
}

li:last-child {
	margin: 0 0 1em;
}

a:focus,
a:hover {
	font-weight: bold;
}

#s,
#social > li > a:hover {
	color: var(--accent1);
}
#w,
#entertainment > li > a:hover {
	color: var(--accent2);
}
#d,
#dev > li > a:hover {
	color: var(--accent3);
}
#l,
#linux > li > a:hover {
	color: var(--accent4);
}

a:focus,
a:hover {
	color: var(--secondaryColor);
}

a:visited,
a:link,
a:active {
	color: var(--secondaryColor);
	height: auto;
	width: auto;
	text-decoration: none;
	line-height: 2;
}

input {
	color: var(--secondaryColor);
	width: 700px;
	font-size: 16px;
	font-family: 'Fira Code';
	border: none;
	outline: none;
	padding-bottom: 30px;
	background-color: transparent;
}

/* Removes the X button from the end of inputs */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	display: none;
}

#status-bar {
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin-bottom: 20px;
	margin-right: 20px;
}

#chrevron-left {
	width: 120px;
	height: 30px;
	position: relative;
	background: var(--accent1);
}

#chrevron-left:after {
	content: '';
	position: absolute;
	left: -15px;
	bottom: 0;
	width: 0;
	height: 0;
	border-right: 15px solid var(--accent1);
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
}

#chrevron-left:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-right: 15px solid var(--accent3);
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
}

#chrevron-right {
	width: 50px;
	height: 30px;
	position: relative;
	background: var(--accent3);
}

#time {
	display: inline-block;
	padding-top: 5px;
	padding-left: 10px;
	animation: blinking 5s infinite;
}

#search-icon {
	width: 24px;
	height: 24px;
	opacity: 0.75;
	padding-top: 2.5px;
	padding-left: 10px;
}

.padding-top-15 {
	padding-top: 15px;
}

.invert {
	filter: invert(1);
}

.left {
	float: left;
}

@media (max-width: 1000px) {
	input {
		width: 500px;
	}
}

@media (max-width: 785px) {
	input {
		width: 300px;
	}
}

@media (max-width: 585px) {
	input {
		width: fit-content;
	}
}

@keyframes blinking {
	0% {
		color: var(--accent1);
	}
	25% {
		color: var(--accent2);
	}
	50% {
		color: var(--accent3);
	}
	75% {
		color: var(--accent4);
	}
	100% {
		color: var(--accent1);
	}
}
